body{
	background-color: black;
}
.jumbotron{
	background-color: black;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}
hr{
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}
.cardclass{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	max-width: 100%;
	animation-delay: 0.5s
}
.card{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
}
img{
	height: 200px;
}